---
title: Welcome to Middleman
---

<section>
    <div class="mx-auto w-11/12 max-w-6xl py-4">
        <div id="jobs">
            <div class="flex flex-col md:flex-row">
                <div class="flex-1 mr-4">
                    <label class="mb-2 block font-bold text-xs">Buscar</label>
                    <input autofocus class="font-bold bg-gray-200 rounded w-full p-4 search form-control mb-4 focus:outline-none focus:shadow-outline" type="text" placeholder="Buscar por locación, categorías o tipo de vacante" />
                </div>
                <div>
                    <label class="mb-2 block font-bold text-xs">Ordenar por</label>
                    <div>
                        <button class="sort bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-4 px-6 border border-blue-500 hover:border-transparent rounded" data-sort="type"> Tipo </button>
                        <button class="sort bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-4 px-6 border border-blue-500 hover:border-transparent rounded" data-sort="country"> País </button>
                    </div>
                </div>
            </div>

            <h3 class="my-2 font-bold text-gray-400">Vacantes</h3>
            <ul class="list my-2">
                <% blog.articles[0...5].each do |job| %>
                        <li class="border-gray-200 border rounded md:border-t-0  md:border-r-0 md:border-l-0 md:border-b-2 px-2 py-4 flex justify-between items-center w-full flex-col lg:flex-row my-2 md:my-0">
                            <div class="flex items-center">
                                <figure class="w-8 h-8 rounded-full mr-2 bg-blue-500 bg-cover bg-no-repeat bg-center" style="background-image: url(<%= job.data.company_logo %>);"></figure>
                                <div>
                                    <h3 class="font-bold text-gray-800 m-0 text-sm leading-none company"><%= job.data.company %></h3>
                                    <h2 class="text-gray-800 font-bold text-3xl leading-none title"><%= job.title %></h2>
                                </div>
                            </div>
                            <div class="py-2 flex justify-between items-center flex-col lg:flex-row">
                                <div class="mr-4 flex">
                                    <span class="rounded bg-teal-200 p-1 mr-1 text-xs font-bold text-teal-800 type"><%= job.data.job_type %></span>
                                    <div class="category">
                                        <% job.data.categories.each do |f| %>
                                            <span class="rounded bg-gray-200 p-1 text-xs font-bold text-gray-600"><%= f %></span>
                                        <% end %>
                                    </div>
                                </div>
                                <h4 class="text-sm text-gray-700 font-bold my-5 mr-0 md:my-0 md:mr-4">@<%= job.data.state %>, <span class="country"><%= job.data.country %></span></h4>
                                <a class="bg-black text-white font-bold md:text-sm py-1 px-2 flex items-center " href="<%= job.url %>">Ver Detalles <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs"><path d="M9 18l6-6-6-6"/></svg></a>
                            </div>
                        </li>
                <% end %>
            </ul>
            
            <ul class="pagination my-4 flex"></ul>

        </div>

    </div>
</section>